/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_bootstrap
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

.fix_top {
	position: fixed;
	top: 50px;
	left: 0px;
	width: 100%;	
}

.all_websites_label {	
	position: absolute;
	padding: 2px;
}

.all_websites_link {
	position: absolute;
	right: 1%;
	top: 20px;
	padding: 2px;
	margin-right: 20%;
}

.header_for_slide {
	height: 60px;
	margin-left: 20%;
}

.left_float {
	width: 30%;
	float: left;
}

.top_block {

}

.row {
    float: top;
}

.margin-blyat-dont-work {
	margin: 10px;
}

.top {
	position: absolute;
	left: 5%;
	right: 5%;
	top: 7%;
}

p {
	font-color: red;
	font-size: 15px;
}

.link_bottom {
	position: relative;
	bottom: 2%;
}